<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Node Js Website</title>
  <link href="css/bootstrap.min.css" rel="stylesheet" />
  <link href="css/styles.css" rel="stylesheet" />
  <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
  <script type="text/javascript" src="js/require.js"></script>
  <script type="text/javascript" src="js/controller.js"></script>
  <style type="text/css">
    img {
      max-width: 250px;
      height: 250px;
    }
    body {
      max-width: 500px;
      margin: 100px auto;
      padding: 20px;
      font: 18px normal;
    }
    form {
      display: flex;
      flex-direction: row;
    }
    form .form-control {
      margin: 20px;
    }
    form .btn-primary {
      margin: 10px 20px;
      width: 120px;
    }
  </style>
</head>

<body class="container aclr_class">
  <img src="img/mix_two.png" alt="Magnifying Glass" id="searchIcon">
  <h1>Contact Us</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint
    occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
    est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
    et dolore magna aliqua.</p>
  <form action="/" method="POST">
    <input class="form-control" type="text" placeholder="Enter a Treehouse username" id="username" name="username">
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</body>

</html>
